In [1]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load (Titles are changed again below)
true_car_data_to_load = os.path.join("Resources", "Original_Data_Pull", "true_car_listings.csv")
craigslist_data_to_load = os.path.join("Resources", "Original_Data_Pull", "vehicles.csv")

# Reads both files and stores them into Pandas Data Frames
true_car_df = pd.read_csv(true_car_data_to_load)
craigslist_df = pd.read_csv(craigslist_data_to_load)

In [2]:
total_true_car_VINs = len(true_car_df["Vin"].unique())
total_craigslist_VINs = len(craigslist_df["vin"].unique())

In [3]:
print(f"Total unique VIN records for the Craigslist data set is {total_craigslist_VINs}.")

Total unique VIN records for the Craigslist data set is 181678.

In [4]:
print(f"Total unique VIN records for the True Care data set is {total_true_car_VINs}.")

Total unique VIN records for the True Care data set is 852075.

In [5]:
craigslist_grouped_by_make = craigslist_df.groupby(['manufacturer'])
craigslist_count_by_make = craigslist_grouped_by_make["vin"].count()
craigslist_count_by_make

manufacturer
acura               2371
alfa-romeo            68
aston-martin          20
audi                3915
bmw                 9135
buick               4505
cadillac            4737
chevrolet          45185
chrysler            4760
datsun                25
dodge              10599
ferrari               45
fiat                 645
ford               58361
gmc                14481
harley-davidson      152
hennessey              0
honda              14042
hyundai             8360
infiniti            2755
jaguar               642
jeep               15592
kia                 6323
land rover             5
lexus               3908
lincoln             2009
mazda               3785
mercedes-benz       7405
mercury              799
mini                1563
mitsubishi          1597
morgan                 2
nissan             17351
pontiac             1488
porche                 6
ram                17325
rover               1346
saturn               810
subaru              7004
tesla                202
toyota             23626
volkswagen          6457
volvo               1713
Name: vin, dtype: int64

In [6]:
true_car_grouped_by_make = true_car_df.groupby(['Make'])
true_car_count_by_make = true_car_grouped_by_make["Vin"].count()
true_car_count_by_make

Make
AM                   19
Acura             11049
Alfa                 44
Aston               149
Audi              12618
BMW               32415
Bentley             367
Buick             12491
Cadillac          15047
Chevrolet        102268
Chrysler          16357
Dodge             34368
FIAT               1782
Ferrari             345
Fisker               19
Ford             110432
Freightliner         11
GMC               29008
Genesis             141
Geo                   2
HUMMER              949
Honda             50193
Hyundai           35837
INFINITI          12258
Isuzu                76
Jaguar             2200
Jeep              40373
Kia               28636
Lamborghini         121
Land               4096
Lexus             20641
Lincoln            7120
Lotus                42
MINI               4375
Maserati           1047
Maybach              10
Mazda             13365
McLaren              47
Mercedes-Benz     26323
Mercury            1076
Mitsubishi         4080
Nissan            66250
Oldsmobile          122
Plymouth             51
Pontiac            1783
Porsche            4106
Ram               19808
Rolls-Royce          92
Saab                260
Saturn              963
Scion              3043
Subaru            16428
Suzuki              334
Tesla               231
Toyota            77786
Volkswagen        23249
Volvo              5106
smart               713
Name: Vin, dtype: int64

In [7]:
# To get a subset of roughly 250 from each dataset each for the complete data frame for Mongo DB demonstration, 
# sorting by the manufacturer Tesla was chosen because it is the closest when considering each of the two data frames.

# Please note that Craigslist listed cars have many duplicate cars; whereas, True Cars does not.

just_true_car_tesla = true_car_df.loc[true_car_df["Make"] == "Tesla",:]
total_true_car_tesla = len(just_true_car_tesla["Vin"].unique())
total_true_car_tesla
print(f"Total unique VIN records for Teslas in the True Care data set is {total_true_car_tesla}.")

just_craigslist_tesla = craigslist_df.loc[craigslist_df["manufacturer"] == "tesla",:]
total_craigslist_tesla = len(just_craigslist_tesla["vin"].unique())
total_craigslist_tesla
print(f"Total unique VIN records for Teslas in the Craigslist data set is {total_craigslist_tesla}.")
print(f"Please note that Craigslist listed cars have many duplicate cars; whereas, True Cars does not.")

Total unique VIN records for Teslas in the True Care data set is 231.
Total unique VIN records for Teslas in the Craigslist data set is 127.
Please note that Craigslist listed cars have many duplicate cars; whereas, True Cars does not.

In [8]:
# To get a subset of roughly 50 each for the testing data frame,

In [9]:
true_TESLA_grouped_by_year = just_true_car_tesla.groupby(['Model'])
true_TESLA_count_by_year = true_TESLA_grouped_by_year["Vin"].count()
true_TESLA_count_by_year

Model
Model          224
Roadster         1
Roadster2dr      6
Name: Vin, dtype: int64

In [10]:
craigslist_TESLA_grouped_by_make = just_craigslist_tesla.groupby(['model'])
craigslist_TESLA_count_by_year = craigslist_TESLA_grouped_by_make["vin"].count()
craigslist_TESLA_count_by_year

model
model 3                           41
model 3 long range                 0
model 3 long range awd             1
model 3 performance                2
model 3 rwd                        1
model s                           82
model s 100d                       1
model s 70d sedan 4d automatic     1
model s 75                         0
model s 75d                        6
model s 75d automatic              1
model s 85                         4
model s 85 performance             1
model s 90d                        1
model s 90d awd autopilot          1
model s one owner 10/10            0
model s p85d                       1
model s p90d                       1
model s sedan                      2
model s signature perform          1
model s75                          0
model x                           38
model x 100d awd                   1
model x 75d automatic              1
model x 75d autopilot              1
model x 90d                        0
model x awd 90d                    1
model x long range                 3
roadster                           1
s                                  2
s 2013 performance 85              1
s 70                               1
s 75                               0
s 75d                              1
s 85                               0
s 85d                              0
s p85                              0
s75d                               1
s85                                0
x                                  1
Name: vin, dtype: int64

In [16]:
# To get a subset of roughly 50 from each dataset each for the TESTING data frame for Mongo DB demonstration, 
# this randomly selects 50 from each of the Tesla-filtered datasets because other methods of filtering down 
# to 50 would impact the things we want to test or not be close to 50 each.

chosen_index = np.random.choice(len(just_true_car_tesla["Vin"].unique()), replace=False, size=50)
just_true_car_tesla_trimmed = just_true_car_tesla.iloc[chosen_index]

chosen_index = np.random.choice(len(just_craigslist_tesla["vin"].unique()), replace=False, size=50)
just_craigslist_tesla_trimmed = just_craigslist_tesla.iloc[chosen_index]

In [18]:
# Output csv files from data frames

# This converts the Pandas data frame into an CSV table without the Pandas Index being included
just_true_car_tesla_trimmed.to_csv('True-Car-Test-50.csv', index=False)
just_craigslist_tesla_trimmed.to_csv('Craigslist-Test-50.csv', index=False)
just_true_car_tesla.to_csv('True-Car-Complete-Tesla.csv', index=False)
just_craigslist_tesla.to_csv('Craigslist-Complete-Tesla.csv', index=False)